#!/bin/sh

# Copy this file to copy_github_labels and update the
# GITHUB_TOKEN below with a token that you have generated.

# TODO: replace with your token (https://github.com/settings/tokens)
export GITHUB_TOKEN=abcdefgh1234567890

node ./copy_github_labels.js $@
